.Board {
  @import url("https://webfontworld.github.io/amore/AritaBuri.css");

  @font-face {
    font-family: "GangwonEduHyeonokT_OTFMediumA";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduHyeonokT_OTFMediumA.woff")
      format("woff");
  }
  /*폰트 설정예시*/
  .ql-snow .ql-picker.ql-font .ql-picker-label[data-value="buri"]::before,
  .ql-snow .ql-picker.ql-font .ql-picker-item[data-value="buri"]::before {
    content: "Buri";
    font-family: "AritaBuri";
  }
  .ql-font-buri {
    font-family: "AritaBuri";
  }

  /*Gangwon*/
  .ql-snow .ql-picker.ql-font .ql-picker-label[data-value="gangwon"]::before,
  .ql-snow .ql-picker.ql-font .ql-picker-item[data-value="gangwon"]::before {
    content: "Gangwon";
    font-family: "GangwonEduHyeonokT_OTFMediumA";
  }
  .ql-font-buri {
    font-family: "GangwonEduHyeonokT_OTFMediumA";
  }

  /*폰트 크기예시*/
  .ql-size-huge,
  .ql-size span[data-value="huge"]::before {
    font-size: 20px !important;
  }
  .ql-size-medium,
  .ql-size span[data-value="medium"]::before {
    font-size: 14px !important;
  }

  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  position: relative;

  .freeBoard .commu_title {
    max-width: 1000px;
    height: 120px;
    background-color: rgba(52, 103, 255, 0.8117647059);
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 50px;
    color: #fff;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
  }

  .freeBoard .commu_title .cimg {
    padding-right: 70px;
  }

  .freeBoard .commu_title .cimg img {
    width: 220px;
    height: auto;
  }

  .freeBoard .commu_title .ctext > h2 {
    font-size: 27px;
    margin-bottom: 20px;
  }

  .freeBoard .cate {
    display: flex;
  }

  .freeBoard .cate a {
    display: block;
    margin-right: 15px;
    margin-bottom: 20px;
    background-color: #eff1f3;
    width: 120px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #000;
    border-radius: 30px;
  }

  .freeBoard .cate a:hover {
    display: block;
    background-color: #6f6f6f;
    color: #fff;
    transition: 0.3s;
  }

  .freeBoard .search {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #eff1f3;
    padding: 26px 60px;
    margin-bottom: 20px;
    border-radius: 10px;
  }

  .freeBoard .search .first_div {
    display: flex;
    position: relative;
    align-items: center;
  }

  .freeBoard .search .first_div strong {
    width: 140px;
    color: #5a6265;
    font-size: 16px;
  }

  .freeBoard .search .first_div .selectBox {
    height: 42px;
    line-height: 42px;
  }

  .freeBoard .search .first_div .selectBox select {
    height: 42px;
    padding: 0 21px;
    border: 0;
    outline: none;
  }

  .freeBoard .search .first_div input {
    margin-left: 20px;
    width: 600px;
    height: 42px;
    padding: 0 21px;
    border: 0;
    outline: none;
  }

  .freeBoard .search .first_div > .btn {
    width: 48px;
    height: 42px;
    margin-left: 20px;
    background-color: #444;
    border-radius: 5px;
    cursor: pointer;
    border: 0;
  }

  .freeBoard .search .first_div > .btn > img {
    width: 21px;
  }

  .freeBoard .table .thead {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #c9c9c9;
    border-bottom: 1px solid #c9c9c9;
    padding: 8px;
    color: #333;
    border-top: 1px solid rgba(52, 103, 255, 0.8117647059);
  }

  .freeBoard .table .tr {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    border-bottom: 1px solid #c9c9c9;
  }

  .freeBoard .table .tr:hover {
    background-color: #c9c9c92f;
    cursor: pointer;
  }

  .freeBoard .table .tr .td {
    text-align: center;
    padding: 0 10px;
  }

  .writeBtn {
    display: block;
    background-color: #777;
    width: 120px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin-top: 15px;
    color: #fff;
    border-radius: 5px;
    position: absolute;
    right: 20px;
  }

  .writeBtn a {
    display: block;
    border-radius: 5px;
    text-align: center;
  }

  .writeBtn a:hover {
    display: block;
    background-color: #555;
    transition: 0.3s;
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 70px;
  }

  .pagination li {
    margin-right: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #e4e8ec;
  }

  .pagination li:hover {
    background-color: #3467ffcf;
    color: #fff;
    font-weight: bold;
  }

  /*글쓰기*/
  .editor {
    width: 100%;
    min-height: 400px;
    margin: 30px auto;
  }

  .editBtn {
    display: flex;
    justify-content: end;
  }

  .editBtn a {
    margin-left: 10px;
    display: block;
    background-color: rgb(250, 100, 73);
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
  }

  .editBtn a:nth-child(1):hover {
    background-color: rgb(255, 68, 35);
  }

  .editBtn a:nth-child(2) {
    background-color: #5f5f5f;
  }

  .editBtn a:nth-child(2):hover {
    background-color: #444;
  }

  .ql-container.ql-snow {
    min-height: 400px;
  }

  /*bold, italic 추가*/
  .ql-editor b {
    font-weight: bold;
  }

  .ql-editor i {
    font-style: italic;
  }
}
