.calendar{
    width: 1000px;
    height: 600px;
    margin: auto;
    text-align: center;
}

.calendar .scheduleBox {
    display: flex;
    width: 100%;
    height: 100%;
    border: 1px solid #111;
    position: fixed;
    top: 0;
    right: -100%;
    background-color: rgba(125, 125, 125, 0.3);
    transform: translateX("-300px");
    z-index: 200;
    justify-content: end;
}

.calendar .scheduleContent {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 1000px;
    background-color: #ffffff;

}

.calendar .optionBox {
    display: flex;
    width: 100%;
    height: 100%;
    border: 1px solid #111;
    position: fixed;
    top: 0;
    right: -100%;
    background-color: rgba(125, 125, 125, 0.3);
    transform: translateX("-300px");
    z-index: 200;
    justify-content: end;
}

.calendar .optionContent {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 1000px;
    background-color: #ffffff;

}

.calendar .insertForm{
    width: 430px;
    height:300px;
    margin-top: 50px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
    background-color: #d1d1d1;
}

.calendar .insertForm .date > {
    
}

.calendar .insertForm .text > {
    width: 80%;
}

.calendar .eventList{
    width: 430px;
    height:300px;
    margin-top: 50px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
    background-color: #d1d1d1;
    text-align: left;
}

.calendar .eventList .event{
    margin-top: 10px;
    background-color: aqua;
}

.calendar .eventList .event > h4{
    display: inline-block;
}

.calendar .circle-picker{
    position: fixed;
    bottom: 150px;
    right: -120px;
    
}

.calendar .colorBtn{
    border-radius: 50%;
    border: 0px;
}

.calendar .circle-picker *{
    margin: 0 auto;
}