.Chat{
    #content {
        border: 1px solid black;
        flex: 2; /* 콘텐츠 영역이 늘어날 수 있도록 */
        min-height: 1100px; /* 임의의 높이 설정 */
        padding: 10px;

    }

    #chatting{
        display: flex;
        width: 820px;
        flex-direction: column-reverse;
        height: 900px;
        overflow: auto;
    }

    .flex-container {
        display: flex;
        align-items: center;
        border:  1px solid gray;
    }
    .flex-container p {
        margin: 0;
        color: rgb(0, 0, 0);
    }
    .home{
    background-color:gray;
    border: none;
    text-align: center;
    padding: 3px 3px;
    border-radius: 10px;
    font-size: 45px;
    margin-bottom: 2px;
    }


    .home3{
    color: white;
    }

    .homeOn{
        background-color:  rgb(202, 202, 202);
    }

    .title{
        margin-left: 10px;
        border-bottom: 1px solid gray;
    }
    .chat {
        margin-left: 10px;
        align-items: center;
    }
    .chat-item {
        display: flex;
        width: 100%;
    }
    .chat-image {
        flex: 1; /* 이미지 영역이 1 부분 차지 */
        padding: 10px;
        width: 80px;
    }
    .chat-text {
        flex: 9; /* 텍스트 영역이 9 부분 차지 */
        padding: 10px;
    }
    .chat-textarea{
    border: 1px solid rgb(202, 202, 202);
    background-color: rgb(241, 241, 241);
        border-radius: 5px;
        padding: 5px;
    }

    .chatInsert{
    margin: 10px 2px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        height: 80px;
    }

    .chat-input {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    margin: 0 10px;
    }

    .btn-attachment,
    .btn-send {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    }

    .btn-send {
    color: #007BFF;
    }

    .btn-attachment {
    font-size: 24px;
    }
}