.Dashboard {
  .top {
    margin-top: 80px;
  }

  .profile {
    width: 100%;
  }

  .profile div {
    display: flex;
    background-color: #f1f1f1;
    padding: 40px;
    margin-bottom: 50px;
    border-radius: 10px;
    color: #333;
  }

  .profile div img {
    margin-right: 50px;
    border-radius: 50%;
    width: 220px;
  }

  .profile div .userInfo {
    position: relative;
    top: 50%;
    transform: translateY(25%);
  }

  .profile div .userInfo li {
    font-size: 17px;
    margin-bottom: 10px;
  }

  .noticeBoard {
    width: 100%;
    height: 250px;
    background: rgba(221, 221, 221, 0.8666666667);
    position: relative;
    margin-top: 80px;
  }

  .noticeBoard h4 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 18px;
  }

  .noticeBoard p {
    text-align: end;
    margin-bottom: 10px;
  }

  .noticeBoard p:hover {
    text-decoration: underline;
  }

  .noticeBoard table {
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
  }

  .noticeBoard table tr {
    text-align: center;
  }

  .schedule {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    height: 400px;
    margin-bottom: 80px;
  }

  .schedule .item1 {
    width: 48%;
    text-align: center;
    margin-right: 10px;
    background-color: tomato;
  }

  .schedule .item2 {
    width: 48%;
    text-align: center;
    background-color: tomato;
  }

  .project {
    margin-bottom: 80px;
    background-color: gold;
    border-radius: 10px;
    width: 100%;
    height: 500px;
  }

  .project > div {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    height: 400px;
    padding: 50px;
  }

  .project > div > div {
    width: 380px;
    background-color: aliceblue;
  }
}
