.Dashboard {

  .top {
    display: flex;
    margin-top: 80px;
  }

  //프로젝트 박스
  .projectBox {
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow-x: auto; /* 가로 스크롤 처리 */
  }
  
  .projectBoxTitle {
    background-color: rgb(234 245 255);
    border-bottom: 1px solid #ddd;
    border-radius: 5px 5px 0 0;
    padding: 27px;
    font-weight: bold;
    font-size: 18px;
    position: sticky;
    top: 0; /* 화면 상단에 고정 */
    z-index: 1; /* 다른 요소들 위에 나타나도록 설정 */
  }

  .projectBoxTitle p {
    color: #555d89;
    font-weight: bold;
    font-size: 17px;
  }
  
  .projectBoxTitleList {
    padding: 20px;
  }
  
  .projectList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: nowrap; /* 가로 정렬 유지 */
  }
  
  .projectItem {
    margin-right: 10px;
    padding: 15px;
    margin-bottom: 7px;
    border: 1px solid #ccc;
    border-radius: 5px;
    min-width: 250px; /* 최소 너비 */
    box-sizing: border-box;
    text-align: left;
  }
  
  .projectItem h2 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .projectItem p {
    font-size: 14px;
    margin: 5px 0;
  }
  
  .projectItem a {
    text-decoration: none;
    color: inherit;
  }
  
  /* 가로 스크롤바 스타일링 */
  .projectBox::-webkit-scrollbar {
    width: 8px;
  }
  
  .projectBox::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  .projectBox::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
  }

  //////////////////////////////////////////
  

  .loginUser {
    color: #313d6b;
    font-weight: bold;
    font-size: 17px;
    background-color: #eaf5ff8c;
    border-bottom: 1px solid #ddd;
    padding: 25px;
    border-radius: 5px 5px 0 0;
  }

  .profileBox {
    width: 50%;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 20px;
  }

  .profileBox .profile {
    background-color: #ffffff;
    position: relative;
  }

  .profileBox .profile .profile_img {
    position: relative;
    text-align: center;
    margin: 20px 0;
  }

  .profileBox .profile .profile_img > img {
    border-radius: 50%;
    width: 220px;
  }

  .profileBox .profile .info {
    text-align: left;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 300px;
  }
  ////////////////////

  //
  .userInfo {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .userInfo li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    border-bottom: 1px solid #ededed;
  }

  .userInfo li .label {
    font-weight: bold;
    color: #333;
    flex: 1;
  }

  .userInfo li .value {
    flex: 2;
    text-align: left;
    color: #555;
  }
  //

  .profileBox .viewText {
    padding: 20px;
    border-top: 1px solid #ddd;
    text-align: center;
    cursor: pointer;
    color: #009eff;
    font-weight: bold;
  }

  .profileBox .viewText:hover {
    text-decoration: underline;
  }

  .profileBox .viewText a {
    font-weight: bold;
  }

  .noticeBoard {
    width: 50%;
    position: relative;
    border: 1px solid #ddd;
    border-radius: 5px;
  }

  .noticeBoard h4 {
    text-align: left;
    margin-bottom: 10px;
    font-size: 18px;
    background-color: #eaf5ff8c;
    padding: 25px;
    border-bottom: 1px solid #ddd;
    color: #313d6b;
    font-weight: bold;
    font-size: 17px;
  }

  .noticeBoard p {
    text-align: end;
    margin-bottom: 10px;
    position: relative;
    bottom: -74px;
    border-top: 1px solid #ddd;
  }

  .noticeBoard p:hover {
    text-decoration: underline;
  }

  .noticeBoard table {
    width: 100%;
    height: 365px;
    border-collapse: collapse;
  }

  .noticeBoard table tr {
    text-align: center;
  }

  .noticeBoard table tr:hover {
    background-color: #e6f6ff;
  }

  .noticeBoard table tr td {
    border-bottom: 1px solid #f0f0f0;
    padding: 8px;
    text-align: left;
  }

  .noticeBoard table tr td:nth-child(1) {
    width: 30%;
    padding-left: 20px;
  }

  .noticeBoard table tr td:nth-child(2) {
    width: 70%;
  }

  .noticeBoard table .rdate {
    color: #a8a8a8;
  }

  .noticeBoard table .title {
    color: #555d89;
    text-decoration: none;
    font-weight: bold;
  }

  .noticeBoard .viewText {
    padding: 20px;
    text-align: center;
    cursor: pointer;
    color: #009eff;
    font-weight: bold;
  }

  .noticeBoard .viewText a {
    font-weight: bold;
    display: block;
  }

  .bottom {
    display: flex;
    margin-top: 30px;
    margin-bottom: 80px;
    height: 400px;
  }

  .bottom .toDoList {
    width: 50%;
    margin-right: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }

  .bottom .toDoList .taskTitle {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 17px;
    background-color: rgb(234 245 255);
    border-bottom: 1px solid #ddd;
    padding: 25px;
    border-radius: 5px 5px 0 0;
  }

  .bottom .toDoList .taskTitle p {
    color: #555d89;
    font-weight: bold;
    font-size: 17px;
  }

  .bottom .toDoList button {
    border: none;
    background-color: inherit;
    outline: none;
  }

  .bottom .toDoList button img {
    width: 25px;
    cursor: pointer;
  }

  .bottom .toDoList .taskList {
    padding: 20px;
  }

  .bottom .toDoList .taskList table {
    width: 100%;
  }

  .bottom .toDoList .taskList table {
    border-collapse: collapse;
  }

  .bottom .toDoList .taskList table tr {
    height: 45px;
  }

  .bottom .toDoList .taskList table tr td:nth-child(1) {
    width: 10%;
  }

  .bottom .toDoList .taskList table tr input[type="checkbox"] {
    width: 25px;
    position: relative;
    top: 2px;
    scale: 1.6;
  }

  .bottom .toDoList .taskList table tr td:nth-child(2) {
    width: 70%;
    cursor: pointer;
  }

  .bottom .toDoList .taskList table tr td:nth-child(3) {
    width: 20%;
    color: #009eff;
    font-weight: bold;
  }

  .bottom .projectBox {
    width: 50%;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
}
