/* Modal.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.modal-content h2 {
  margin: 0 0 15px 0;
  font-size: 24px;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-form input,
.modal-form select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.modal-form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.modal-buttons .submitBtn {
  background-color: #4070ff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  flex: 1;
  margin-right: 10px;
}

.submitBtn:hover {
  background-color: #2b60ff;
}

.closeBtn {
  background-color: #616161;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  flex: 1;
}

.closeBtn:hover {
  background-color: #3d3d3d;
}

.taskTitle > button img {
  transition: transform 0.5s ease;
}

.taskTitle > button:hover img {
  transform: rotate(180deg);
}
