#page{

    display: flex;

    .pageMain{
        margin-top: 30px;
        overflow-y: scroll;
        width: 80%;
        height: 700px;
        align-items: center;

        .title{
            margin-left: 54px;
            border: 0;
            font-size: 20px;
        }

    }
    
    .editorSideBar{
        width: 20%;
        height: 770px;
        background-color: blue;
    }

}